.askguru-container{
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  height: 100%;
  background-color: #181b21;
}

.askguru-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  /* overflow: scroll; */
  gap: 8px;
}

.askguru-message-container{
  width: 100%;
  height: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.askguru-message-container.from-user{
  justify-content: flex-end;
}

.askguru-header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #151816, #04100a);
}

.askguru-header svg{
  height: 12px;
}

.askguru-compose{
  width: 100%;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #151816, #04100a);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.askguru-compose input{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  gap: 8px;
}

.askguru-resize{
  width: 44px;
  height: 44px;
  background-color: transparent;
  border :none;
  cursor: pointer;
}

.askguru-submit-btn{
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background-color: #f8f8f8;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}


.askguru-compose input::placeholder{ color: rgba(0,0,0,0.5);}

.askguru-scale-btn{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.askguru-message {
  border-radius: 8px;
  max-width: 300px;
  background-color: #3e3e3e;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
}

.askguru-message p{
  margin: 0;
}